{% extends 'base.html.twig' %}
{% block body %}
    <div class="register-container full-height sm-p-t-30">
        <div class="container-sm-height full-height">
            <div class="row row-sm-height"><br><br>
                <div class="col-sm-8 col-md-offset-2 col-sm-height col-middle">
                    {{ form_start(form) }}
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    {{ form_widget(form) }}

                    <div>
                        <input class="btn btn-primary btn-cons m-t-10"  type="submit" value="Submit"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}