{% extends 'base.html.twig' %}
{% block steel %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        div.hidden {
            visibility: hidden;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Offredemande edit</h1>

    {{ form_start(edit_form) }}
    <div class="hidden">
        {{ form_widget(edit_form.idUser) }}
        {{ form_widget(edit_form.prix) }}
        {{ form_widget(edit_form.description) }}
        {{ form_widget(edit_form.idAn) }}
    </div>
    {{ form_widget(edit_form) }}

    {{ form_widget(edit_form.etat,{'value':"en attente"}) }}


    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('offredemande_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
