{% extends 'base.html.twig' %}
{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% endblock %}
{% block body %}
    <div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>{{ app.user.username }} </h4>

            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="{{ path('annonce_index') }}">Mes annonces</a></li>
                {% if is_granted('ROLE_JARDNIER') %}
                    <li><a href="{{ path('cv_index') }}" >Mon CV </a></li>
                    <li ><a href="{{ path('offredemande_index') }}">mes offres</a></li>
                {% endif %}                    <li><a href="{{ path('cv_index') }}" >mes commandes </a></li>
            </ul><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
                <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
            </div>
        </div>

        <div class="col-sm-9">
    <h1>les offres de l'annonce</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Prix</th>
            <th>Etat</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for offredemande in offredemandes |reverse %}
            {% if offredemande.etat =='en attente' %}
                <tr class="warning">
                    <td>{{ offredemande.prix }}</td>
                    <td>{{ offredemande.etat }}</td>
                    <td>{{ offredemande.description }}</td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('offredemande_edit', { 'idOffre': offredemande.idOffre }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% elseif offredemande.etat =='accepté' %}
                <tr class="success">
                    <td>{{ offredemande.prix }}</td>
                    <td>{{ offredemande.etat }}</td>
                    <td>{{ offredemande.description }}</td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('offredemande_edit', { 'idOffre': offredemande.idOffre }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% elseif offredemande.etat =='refusé' %}
                <tr class="danger">
                    <td>{{ offredemande.prix }}</td>
                    <td>{{ offredemande.etat }}</td>
                    <td>{{ offredemande.description }}</td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('offredemande_edit', { 'idOffre': offredemande.idOffre }) }}">edit</a>
                            </li>
                        </ul>
                    </td>

                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>





{% endblock %}