{% extends 'base.html.twig' %}
{% block steel %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        div.hidden {
            visibility: hidden;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>creez votre  Offre </h1>

    {{ form_start(form) }}
    <div class="hidden"> {{ form_widget(form.idUser,{'value':idUser}) }}
        {{ form_widget(form.idAn,{'value':idAn }) }}
        {{ form_widget(form.etat,{'value':"en attente"}) }}

    </div>
    {{ form_widget(form) }}





    {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('offredemande_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
