{% extends 'base.html.twig' %}

{% block body %}
    <h1>Offredemande</h1>

    <table>
        <tbody>
            <tr>
                <th>Idoffre</th>
                <td>{{ offredemande.idOffre }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ offredemande.prix }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ offredemande.etat }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offredemande.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('offredemande_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('offredemande_edit', { 'idOffre': offredemande.idOffre }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
