{% extends 'base.html.twig' %}
{% block stylesheets %}
    {#<link href="{{ asset ('Bundles/AppBundle/css/product.css')}}" rel="stylesheet" type="text/css" media="all" />#}
    {#<link href="{{ asset ('Bundles/AppBundle/js/product.js')}}" rel="stylesheet" type="text/css" media="all" />#}
    {#<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>#}
    {#<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>#}
    {#<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
    {#<link href="{{ asset ('assets2/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>#}
    {#<script src="{{ asset ('assets2/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>#}

    <style>
        ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
        li.active{border-bottom:3px solid silver;}

        .item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
        .menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
        .btn-success{width:100%;border-radius:0;}
        .section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
        .title-price{margin-top:30px;margin-bottom:0;color:black}
        .title-attr{margin-top:0;margin-bottom:0;color:black;}
        .btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
        .btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
        div.section > div {width:100%;display:inline-flex;}
        div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
        .attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
        .attr.active,.attr2.active{ border:1px solid orange;}

        @media (max-width: 426px) {
            .container {margin-top:0px !important;}
            .container > .row{padding:0 !important;}
            .container > .row > .col-xs-12.col-sm-5{
                padding-right:0 ;
            }
            .container > .row > .col-xs-12.col-sm-9 > div > p{
                padding-left:0 !important;
                padding-right:0 !important;
            }
            .container > .row > .col-xs-12.col-sm-9 > div > ul{
                padding-left:10px !important;

            }
            .section{width:104%;}
            .menu-items{padding-left:0;}
        }
        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;
            flex-wrap: wrap;
        }
        .row > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset ('Bundles/AppBundle/js/jquery.min.js')}}"></script>
    <script src="{{ asset('assets2/js/jquery.js') }}" type="text/javascript"></script>

    <script>
        $(document).ready(function(){
            //-- Click on detail
            $("ul.menu-items > li").on("click",function(){
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            });

            $(".attr,.attr2").on("click",function(){
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            });

            //-- Click on QUANTITY
            $(".btn-minus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1 > 0){ now--;}
                    $(".section > div > input").val(now);
                }else{
                    $(".section > div > input").val("1");
                }
            });
            $(".btn-plus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    $(".section > div > input").val(parseInt(now)+1);
                }else{
                    $(".section > div > input").val("1");
                }
            })
        })
    </script>

{% endblock %}
{% block body %}
    <h3>             .      </h3>
<div class="banner-in">
    <div class="container">

    </div>
</div>
    <h3>      .    </h3>

    <div class="container">
        <div class="row" style="border:1px solid silver">
            <div class="col-md-5 item-photo col-offset-md-2">


                    <img style="max-width:100%;" src="{{ asset('Bundles/AppBundle/images/3.jpg') }}">

            </div>

            <div id="productInfo" class="col-md-7" style="background: #f8f9f8; border-left:1px solid silver; padding: 25px">
                <h3 class="title">{{ pepinieres.nomPep }}</h3>

                <h6 class="title-price">Adresse :</h6>
                <h3 style="margin-top:0px;">{{ pepinieres.adressePep }} </h3>
                <h6 class="title-price">Surface :</h6>
                <h3 style="margin-top:0px;">{{ pepinieres.surface }}</h3>
                <h6 class="title-price">Nombre de pepiniere :</h6>
                <h3 style="margin-top:0px;">{{ pepinieres.max }}</h3>



        </div>

    </div>
    </div>
{% endblock %}
