{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset ('Bundles/AppBundle/css/product.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset ('Bundles/AppBundle/js/product.js')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block javascripts %}

{% endblock %}
{% block body %}
    <div class="banner-in">
        <div class="container">
            <h6>HOME / <span>PEPINIERE</span></h6>
        </div>
    </div>
    <div class="container">
        <div class="product">
            <form action="#" method="post" class="form">
                <div class="pull-left txt"><input id="keyWord" type="text" class="keyWord form-control" placeholder="Recherche pepiniere"></div>
                {#<div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>#}
            </form>
            <br>
            <br>
            <div id="portfoliolist">
                <div id="productList" class="row">
                    {% for pepiniere in pepinieres %}
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="card-wrapper">
                                <div class="image-holder">
                                    <a href="{{ path('front_pepiniere_show',  { 'id': pepiniere.idPep }) }}" class="image-holder__link"></a>

                                </div>

                                <div class="product-description">
                                    <!-- title -->
                                    <h1 class="product-description__title">
                                        <a href="{{ path('front_pepiniere_show',  { 'id': pepiniere.idPep }) }}">
                                            {{ pepiniere.nomPep }}
                                        </a>
                                    </h1>

                                    <!-- category and price -->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-8 product-description__category secondary-text">
                                            {{ pepiniere.adressePep }}
                                        </div>
                                        <div class="col-xs-12 col-sm-4 product-description__price">
                                            {{ pepiniere.surface }}
                                        </div>
                                    </div>

                                    <!-- divider -->
                                    <hr />

                                    <!-- sizes -->
                                    <div class="sizes-wrapper">
                                        <b>Nombre de pepiniere disponible :</b>{{ pepiniere.max}}<br>
                                    </div>
                                </div>

                            </article>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="navigation text-center">

                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- Script for gallery Here -->

            <!-- Gallery Script Ends -->

        </div>
    </div>
{% endblock %}