{% for pepiniere in pepinieres %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="card-wrapper">
            <div class="image-holder">
                <a href="{{ path('front_pepiniere_index',  { 'id': pepiniere.idPep }) }}" class="image-holder__link"></a>

            </div>

            <div class="product-description">
                <!-- title -->
                <h1 class="product-description__title">
                    <a href="{{ path('front_pepiniere_index',  { 'id': pepiniere.idPep }) }}">
                        {{ pepiniere.nomPep }}
                    </a>
                </h1>

                <!-- category and price -->
                <div class="row">
                    <div class="col-xs-12 col-sm-8 product-description__category secondary-text">
                        {{ pepiniere.surface}}
                    </div>
                    <div class="col-xs-12 col-sm-4 product-description__price">
                        {{ pepiniere.max }}
                    </div>
                </div>
                <!-- divider -->
                <hr />
                <!-- sizes -->
                <div class="sizes-wrapper">
                    <b>Adresse :</b>{{ pepiniere.adressePep }}<br>

                </div>
            </div>

        </article>
    </div>
{% endfor %}