{% extends 'base.html.twig' %}
{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>{{ app.user.username }} </h4>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('annonce_index') }}" >Mes annonces </a></li>

                    {% if is_granted('ROLE_JARDNIER') %}
                        <li class="active"><a href="{{ path('cv_index') }}">Mon CV</a></li>

                        <li class=><a href="{{ path('offredemande_index') }}">mes offres</a></li>
                    {% endif %}                    <li><a href="{{ path('cv_index') }}" >mes commandes </a></li>
                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Blog..">
                    <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
                </div>
            </div>

            <div class="col-sm-9">
                <h4><small>RECENT POSTS</small></h4>

                <h1>Mon CV </h1>

                <table class="table table-hover">
                    <thead>
                    {% if cvs is empty %}

                    <ul>
                        <li>
                            <a href="{{ path('cv_new') }}">creez votre CV</a>
                        </li>
                    </ul>
                    {% else %}
                    <tr>
                        <th>Idcv</th>
                        <th>Prixjour</th>
                        <th>Prixheures</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for cv in cvs %}
                        <tr>
                            <td><a href="{{ path('cv_show', { 'idCv': cv.idCv }) }}">{{ cv.idCv }}</a></td>
                            <td>{{ cv.prixJour }}</td>
                            <td>{{ cv.prixHeures }}</td>
                            <td>{{ cv.description }}</td>
                            <td>    <img src=" {{ asset (cv.image)}}" class="img-rounded" alt="Cinque Terre" width="304" height="236" >
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('cv_show', { 'idCv': cv.idCv }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cv_edit', { 'idCv': cv.idCv }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    {% endif %}

                </table>

            </div>
    </div>

{% endblock %}