{% extends 'base.html.twig' %}


{% block body %}
    <h1>Cvs list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prixjour</th>
                <th>Prixheures</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for cv in cvs %}
            <tr>
                <td>{{ cv.prixJour }}</td>
                <td>{{ cv.prixHeures }}</td>
                <td>{{ cv.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cv_show', { 'idCv': cv.idCv }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
