{% extends 'base.html.twig' %}
{% block steel %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock %}

{% block body %}
        <div class="container">
            <div class="card" style="width:400px">
                <img class="card-img-top"  src=" {{ asset (cv.image)}}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <p class="card-text">{{  cv.idCv }}</p>

                    <p class="card-text">{{ cv.description }}</p>

                    <p class="card-text">prix par jours ={{ cv.Prixjour }}</p>
                    <p class="card-text">prix par heures = {{ cv.Prixheures }}</p>

                    <a href="{{ path('cv_index') }}"class="btn btn-primary">Back to the list</a>

                </div>
            </div>
            <br>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

        </div>
{% endblock %}
