{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset ('Bundles/AppBundle/css/product.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset ('Bundles/AppBundle/js/product.js')}}" rel="stylesheet" type="text/css" media="all" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
{% endblock %}
{% block body %}
    <div class="banner-in">
        <div class="container">
            <h6>HOME / <span>cv</span></h6>
        </div>
    </div>


    <table >

        <tbody>

        {% for Cv in cvs %}


            <tr>
                <td >

                    <article class="card-heading">

                        {{ Cv.idCv}}


                        {{ Cv.prixJour }}


                      {{ Cv.prixHeures}}
                        {{ Cv.description}}

                        <div class="image-liquid image-holder--original"
                             style="background-image: url('{{ asset( Cv.image) }}')">
                        </div>


                                            </article>

                </td>
            </tr>

        {%  endfor %}
        </tbody>
    </table>
{% endblock %}

