{% extends 'base.html.twig' %}

<table>
    <thead>

        <th>Sujet</th>
        <th>Description</th>
        <th>Etat</th>
        <th>Date</th>
        <th>User</th>
        <th>Numéro téléphone</th>
    </thead>
    <tbody>
    <div class="banner-in">
        <div class="container">
            <h6>HOME / <span>PRODUCTS</span></h6>
        </div>
    </div>
        {% for reclamation in reclamations %}
            <tr>

                <td>{{ reclamation.sujet }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>{{ reclamation.dateRec | date }}</td>
                <td>{{ reclamation.idUser }}</td>
                <td>{{ reclamation.numTel }}</td>
            </tr>
        {%  endfor %}
    </tbody>
</table>