{% extends 'base.html.twig' %}
{% block steel %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
<style>
    div.hidden {
        visibility: hidden;
    }
</style>
{% endblock %}
{% block body %}
    <h1>Annonce edit</h1>

    {{ form_start(edit_form) }}

    {{ form_label(edit_form.prixmax) }}
    {{ form_widget(edit_form.prixmax) }}

    {{ form_label(edit_form.dateDispo) }}
    {{ form_widget(edit_form.dateDispo) }}

    {{ form_label(edit_form.description) }}
    {{ form_widget(edit_form.description) }}
<div class="hidden">
    {{ form_label(edit_form.idUser) }}
    {{ form_widget(edit_form.idUser) }}
</div>
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
