{% extends 'base.html.twig' %}
{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>{{ app.user.username }} </h4>

                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="{{ path('annonce_index') }}">Mes annonces</a></li>
                    {% if is_granted('ROLE_JARDNIER') %}
                        <li><a href="{{ path('cv_index') }}" >Mon CV </a></li>
                        <li ><a href="{{ path('offredemande_index') }}">mes offres</a></li>
                    {% endif %}                    <li><a href="{{ path('cv_index') }}" >mes commandes </a></li>
                </ul><br>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Blog..">
                    <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
                </div>
            </div>

            <div class="col-sm-9">
                <h4><small>RECENT POSTS</small></h4>

                <h1>Annonces list</h1>

                <table  class="table table-hover">
                    <thead>
                    <tr>
                        <th>Idan</th>
                        <th>Date disponible</th>
                        <th>Prix max</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for annonce in annonces %}
                        <tr>
                            <td><a href="{{ path('annonce_show', { 'idAn': annonce.idAn }) }}">{{ annonce.idAn }}</a></td>
                            <td>{% if annonce.dateDispo %}{{ annonce.dateDispo|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ annonce.prixmax }}</td>
                            <td>{{ annonce.description }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('annonce_show', { 'idAn': annonce.idAn }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('offredemande_show', { 'idAn': annonce.idAn }) }}">afficher offre</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('annonce_edit', { 'idAn': annonce.idAn }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('annonce_new') }}">Create a new annonce</a>
                    </li>
                </ul>


            </div>
    </div>

{% endblock %}