{% extends 'base.html.twig' %}
{% block stylesheets %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

{% endblock %}
{% block body %}
    <div class="banner-in">
        <div class="container">
            <h6>HOME / <span>Annonces</span></h6>
        </div>
    </div>
    <h1>les annonces</h1>

    <table class="table table-dark">
        <thead>
        <tr>
            <th></th>
            <th>Date disponible</th>
            <th>Prix max</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for annonce in annonces|reverse %}
            <tr>
                <td>{{ annonce.description }}</td>
                <td>{% if annonce.dateDispo %}{{ annonce.dateDispo|date('Y-m-d') }}{% endif %}</td>
                <td>{{ annonce.prixmax }}</td>
                <td>
                    <ul>
                        {% if is_granted('ROLE_JARDNIER') %}

                            <li>
                                <a href="{{ path('offredemande_new', { 'idAn': annonce.idAn }) }}">ajouter offre</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not is_granted('ROLE_JARDNIER') %}
        <ul>
            <li>
                <a href="{{ path('annonce_new') }}">Create a new annonce</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
