{% extends 'base.html.twig' %}
{% block steel %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
<style>
    div.hidden {
        visibility: hidden;
    }
    </style>
{% endblock %}
{% block body %}
    <h1>Annonce creation</h1>

    {{ form_start(form) }}
   <div class="hidden"> {{ form_widget(form.idUser,{'value':idUser}) }}
   </div>
    {{ form_widget(form) }}

    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
