{% extends 'base.html.twig' %}

{% block body %}
    <h1>Annonce</h1>

    <table>
        <tbody>
            <tr>
                <th>Idan</th>
                <td>{{ annonce.idAn }}</td>
            </tr>
            <tr>
                <th>Datedispo</th>
                <td>{% if annonce.dateDispo %}{{ annonce.dateDispo|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Prixmax</th>
                <td>{{ annonce.prixmax }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('annonce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('annonce_edit', { 'idAn': annonce.idAn }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
