{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% if error %}
        <div style="color: red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="sign">
    <h3>SIGNIN</h3>
    <form action="{{ path("fos_user_security_check") }}" method="post" class="p-t-15">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <div class="form-group form-group-default">
            <label for="username">Pseudo</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"
                   required="required"/>
        </div>
        <div class="form-group form-group-default">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="_password" required="required"/>
        </div>
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="checkbox ">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">Se souvenir de moi</label>
                </div>
            </div>
        </div>
        <input type="submit" style="width: 240px;" class="btn btn-primary btn-cons m-t-10" id="_submit" name="_submit"
               value="Se connecter"/>
    </form>
        {#<div>#}
            {#<label>Email</label>#}
            {#<input type="text" value=" ">#}
        {#</div>#}
        {#<div>#}
            {#<label>Password</label>#}
            {#<input type="password">#}
        {#</div>#}
        {#<p><a href="#">Forgot Password ?</a></p>#}
        {#<input type="submit" value="submit">#}
</div>
</div>
{#<head>#}
    {#<script type="text/javascript">#}
        {#window.onload = function () {#}
            {#// fix for windows 8#}
            {#if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)#}
                {#document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="pages/css/windows.chrome.fix.css" />'#}
        {#}#}
    {#</script>#}
{#</head>#}

{#<body class="fixed-header ">#}
{#{% if error %}#}
    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#{% endif %}#}
{#<div class="fixed-header pgn-wrapper" data-position="top">#}
    {#{% if error %}#}
    {#<div class="pgn push-on-sidebar-open pgn-bar">#}
        {#<div class="alert alert-danger">#}
            {#<div class="container">#}
                {#<span>#}
                    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
                {#</span>#}
                {#<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span#}
                            {#class="sr-only">Close</span></button>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#{% endif %}#}
{#</div>#}

{#<div class="login-wrapper ">#}
    {#<div class="bg-pic" style="background-color: #0f6046;">#}
        {#<img src="{{ asset('assets/img/logofinalev2.png') }}"#}
             {#style="width: 900px;height: 500px;"#}
             {#class="lazy">#}
    {#</div>#}

    {#<div class="login-container bg-white">#}
        {#<div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">#}
            {#<img src="{{ asset('assets/img/AI CONECTPTION 2.png') }}" alt="logo" width="300" height="150">#}
            {#<p class="p-t-35">Connectez-vous</p>#}


            {#<form action="{{ path("fos_user_security_check") }}" method="post" class="p-t-15">#}

                {#{% if csrf_token %}#}
                    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>#}
                {#{% endif %}#}

                {#<div class="form-group form-group-default">#}
                    {#<label for="username">Pseudo</label>#}
                    {#<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"#}
                           {#required="required"/>#}
                {#</div>#}
                {#<div class="form-group form-group-default">#}
                    {#<label for="password">Mot de passe</label>#}
                    {#<input type="password" class="form-control" id="password" name="_password" required="required"/>#}
                {#</div>#}
                {#<div class="row">#}
                    {#<div class="col-md-6 no-padding">#}
                        {#<div class="checkbox ">#}
                            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on"/>#}
                            {#<label for="remember_me">Se souvenir de moi</label>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
                {#<input type="submit" class="btn btn-primary btn-cons m-t-10" id="_submit" name="_submit"#}
                       {#value="Se connecter"/>#}
            {#</form>#}


        {#</div>#}
    {#</div>#}
{#</div>#}
{#<div class="overlay hide" data-pages="search">#}
    {#<div class="overlay-content has-results m-t-20">#}
        {#<div class="container-fluid">#}
            {#<img class="overlay-brand" src="{{ asset('assets/img/waller.png') }}" alt="logo"#}
                 {#data-src="{{ asset('assets/img/waller.png') }}"#}
                 {#data-src-retina="{{ asset('assets/img/waller.png') }}" width="78" height="22">#}
            {#<a href="#" class="close-icon-light overlay-close text-black fs-16">#}
                {#<i class="pg-close"></i>#}
            {#</a>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

{#<script src="{{ asset('assets/plugins/pace/pace.min.js') }}" type="text/javascript"></script>#}
{#<script src="{{ asset('assets/plugins/jquery/jquery-1.11.1.min.js') }}" type="text/javascript"></script>#}
{#<script src="{{ asset('assets/plugins/modernizr.custom.js') }}" type="text/javascript"></script>#}
{#<script src="{{ asset('assets/plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>#}
{#<script src="{{ asset('assets/plugins/boostrapv3/js/bootstrap.min.js') }}" type="text/javascript"></script>#}
{#<script src="{{ asset('assets/plugins/jquery/jquery-easy.js') }}" type="text/javascript"></script>#}
{#<script src="{{ asset('assets/plugins/jquery-unveil/jquery.unveil.min.js') }}" type="text/javascript"></script>#}
{#<script src="{{ asset('assets/plugins/jquery-bez/jquery.bez.min.js') }}"></script>#}
{#<script src="{{ asset('assets/plugins/jquery-ios-list/jquery.ioslist.min.js') }}" type="text/javascript"></script>#}
{#<script src="{{ asset('assets/plugins/jquery-actual/jquery.actual.min.js') }}"></script>#}
{#<script src="{{ asset('assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('assets/plugins/bootstrap-select2/select2.min.js') }}"></script>#}
{#<script type="text/javascript" src="{{ asset('assets/plugins/classie/classie.js') }}"></script>#}
{#<script src="{{ asset('assets/plugins/switchery/js/switchery.min.js') }}" type="text/javascript"></script>#}

{#<script src="{{ asset('assets/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>#}
{#<!-- END VENDOR JS -->#}
{#<script src="{{ asset('assets/pages/js/pages.min.js') }}"></script>#}
{#<script>#}
    {#$(function () {#}
        {#$('#form-login').validate()#}
    {#})#}
{#</script>#}
{#</body>#}
{% endblock %}
