<html>
<head>
    <title>Vegetables A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset ('Bundles/AppBundle/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <script src="{{ asset ('Bundles/AppBundle/js/jquery.min.js')}}"></script>
    <link href="{{ asset ('Bundles/AppBundle/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<script src="{{ asset ('assets2/plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>#}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    {% block stylesheets %}{% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="{{ asset ('Bundles/AppBundle/js/jquery.easydropdown.js')}}"></script>
    <script>
        $(document).ready(function(){
            $.ajax({
                dataType: "json",
                url: "{{ path("front_panier_nbProduit") }}",
                error: function(response){
                    $("#nbrProduit").html(response.nbrProduit);
                },
                success: function(response){
                    $("#nbrProduit").html(response.nbrProduit);
                }});
        });
    </script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a href="{{ asset ('Bundles/AppBundle/index.html')}}"><img src=" {{ asset ('Bundles/AppBundle/images/logo.png')}}" alt=" " ></a>
            </div>
            <div class="search-in">
                <div class="header-grid text-right">
                    {% if app.user %}
                        <ul>
                            <li class="in-up" ><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                        </ul>

                    {% else %}
                        <ul>
                            <li class="in-up" ><a href="{{ path('fos_user_security_login') }}" class="scroll"> Sign in </a> <label>|</label></li>
                            <li><a href="#" class="scroll">Sign up</a></li>
                        </ul>
                    {% endif %}
                </div>
                <div class="search-top">
                    <div class="search">
                        <form style="    margin-bottom: 0px;">
                            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
                            <input type="submit"  value="">
                        </form>
                    </div>
                    {% if app.user %}
                        <div class="cart">
                            <a href="#" class="cart-in"> </a>
                            <span id="nbrProduit"> </span>
                        </div>
                    {% endif %}
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="header-bottom-bottom">
            <div class="top-nav">
                <span class="menu"> </span>
                <ul>
                    <li ><a href="about.html">About Us</a></li>
                    <li><a href="{{ path('front_produit_index') }}" > Products</a></li>
                    <li><a href="services.html" > Services </a></li>
                    <li><a href="blog.html" > Blog </a></li>
                    {% if app.user %}
                        <li><a href="{{ path('da_produit_index') }}" > Dashboard </a></li>
                    {% endif %}
                    <li><a href="contact.html" > Contact </a></li>
                </ul>
                <script>
                    $("span.menu").click(function(){
                        $(".top-nav ul").slideToggle(500, function(){
                        });
                    });
                </script>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>