{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Modification du pepiniere {{ pepiniere.nomPep }}
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-tagsinput.css') }}">
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap-tagsinput.js') }} "></script>
    <script src="{{ asset('assets/js/typeahead.js') }} "></script>
    <script src="{{ asset('assets/js/competences.js') }} "></script>
{% endblock %}


{% block body %}
    <br>
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-10">
                    <h1>{{ pepiniere.nomPep }}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <br>
            <button type="submit" href="{{ path('da_pepiniere_index') }}" class="btn btn-secondary">
                <i class="fa fa-check"></i> Confirmer
            </button>
            <a href="{{ path('da_pepiniere_index') }}" class="btn btn-secondary">
                <i class="fa fa-undo" aria-hidden="true"></i>
                Retour à la liste</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-times" aria-hidden="true"></i> Supprimer
            </button>

        </div>
    </div><br>
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    <br>
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_widget(edit_form) }}
            {{ form_end(edit_form) }}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Supprimer
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiement supprimer cet pepiniere ?
                </div>
                <div class="modal-footer">

                    <a class="btn btn-danger btn_lg" href="{{ path('da_pepiniere_delete', { 'id': pepiniere.idPep }) }}"
                       data-toggle="tooltip" title="Supprimer cet pepiniere"> Supprimer
                    </a>
                    <a class="btn btn-danger btn_lg" href="{{ path('da_pepiniere_edit', { 'id': pepiniere.idPep }) }}"
                       data-toggle="tooltip" title="Annuler"> Annuler
                    </a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
