{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Ajouter votre Pepiniere
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1><b>Ajout d'un nouveau pepiniere </b></h1>
                </div>
                <div class="col-md-6 text-right"><br>
                    <a href="{{ path('da_pepiniere_index') }}" class="btn btn-secondary">
                        <i class="fa fa-undo" aria-hidden="true"></i>  Retour à la liste</a>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-borderless">
                        <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                            data-init-reponsive-tabs="dropdownfx">
                            <li class="nav-item">
                                <a class="active" data-toggle="tab" role="tab" data-target="#Pepiniere" href="#"
                                   aria-expanded="true">Pepiniere</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Pepiniere" aria-expanded="true">
                                {{ form_start(form) }}
                                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                                {{ form_widget(form) }}

                                <div>
                                    <img src="" id="image" style="display: none" width="100px"height="100px">
                                </div>
                                <button type="submit" class="btn btn-success" value="Create">
                                    <i class="fa fa-check" aria-hidden="true"></i> Confirmer
                                </button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}