{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Dashboard Admin Forum
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        #group-img {
            width: 55px !important;
            padding: 0;
        }
        #group-img img {
            width: 55px !important;
        }
        tr td{
            padding: 2px 3px !important;
        }
        #publcationsTab .archived td{
            background-color: rgba(255,165,0,0.37) !important;
        }
        #publcationsTab{
            table-layout: fixed;
        }
        #descriptionCell{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var tableC = $('#categoriesTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var tableP = $('#produitsTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>


{% endblock %}

{% block body %}

    {#Profiles liste et buttons#}

    <hr>
    <div class="clearfix">
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <table id="produitsTab" class="table table-bordered table-striped " style="width: 100% !important;">
                    <thead>
                    <tr>
                        <th>Commande</th>
                        <th>Utilisateurs</th>
                        <th>Date</th>
                        <th>Etat</th>
                        <th>Nombre de produit</th>
                        <th>Total</th>
                       {#<th>Actions</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for panier in paniers %}
                       <tr>
                           <td>#{{ panier.id }}</td>
                           <td>{{ panier.user.nom | upper }} {{ panier.user.prenom | capitalize }} </td>
                           <td>{{ panier.confirmedAt | date }}</td>
                           <td>{{ panier.etat }}</td>
                           <td>{{ panier.nbrProduit }}</td>
                           <td>{{ panier.total }}</td>
                           {#<td>#}
                               {#<div class="btn-group btn-group-sm btn-group-horizontal">#}
                                   {#<a class="btn btn-secondary" href="{{ path('da_panier_show', { 'id': panier.id }) }}"#}
                                      {#data-toggle="tooltip" title="Consuler">#}
                                       {#<i class="fa fa-eye"></i>#}
                                   {#</a>#}
                                   {#<a class="btn btn-secondary" href="{{ path('da_panier_livrer', { 'id': panier.id }) }}"#}
                                      {#data-toggle="tooltip" title="Editer"><i class="fa fa-pencil-square-o"></i>#}
                                   {#</a>#}
                                   {#<a class="btn btn-secondary" href="{{ path('da_panier_delete', { 'id': panier.id }) }}"#}
                                      {#data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i>#}
                                   {#</a>#}
                               {#</div>#}
                           {#</td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
