{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Dashboard Admin Forum
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        #group-img {
            width: 55px !important;
            padding: 0;
        }
        #group-img img {
            width: 55px !important;
        }
        tr td{
            padding: 2px 3px !important;
        }
        #publcationsTab .archived td{
            background-color: rgba(255,165,0,0.37) !important;
        }
        #publcationsTab{
            table-layout: fixed;
        }
        #descriptionCell{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var tableC = $('#categoriesTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var tableP = $('#produitsTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>


{% endblock %}

{% block body %}

    {#Profiles liste et buttons#}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <a href="{{ path('da_produit_new') }}" class="btn btn-success">
                        <i class="icon-plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;Ajouter
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="clearfix">
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" role="tab" data-target="#produits" href="#"
                           aria-expanded="true">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#categories" class=""
                           aria-expanded="false">Categories</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="produits" aria-expanded="true">
                        <table id="produitsTab" class="table table-bordered table-striped " style="width: 100% !important;">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Type</th>
                                <th>Categorie</th>
                                <th>Nom</th>
                                <th>Prix</th>
                                <th>Pépiniére</th>
                                <th>Disponibilité</th>
                                <th>Description</th>
                                <th>Qte en Stock</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for produit in produits %}
                                <td style="width: 60px; padding:0px; text-align: center">
                                    {% if produit.image != '' %}
                                        <img alt="User Pic" style="width:80px;height:80px;"
                                             src="{{ asset('uploads/produit/photo/' ~ produit.image) }}"
                                             class="img-circle img-responsive">
                                    {% else %}
                                        <img alt="annonce_Pic" style="width:50px;" src="{{ asset('assets2/img/NA.png') }}"
                                             id="profile-image1" class="img-circle img-responsive">
                                    {% endif %}
                                </td>
                                <td>{{ produit.type }}</td>
                                <td>{{ produit.categorie }}</td>
                                <td>{{ produit.nom }}</td>
                                <td>{{ produit.prix }}</td>
                                <td>{{ produit.idPep }}</td>
                                <td>{{ produit.disponibilite }}</td>
                                <td>{{ produit.descriptionProd }}</td>
                                <td>{{ produit.stock }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary" href="{{ path('front_produit_show', { 'id': produit.idProd }) }}"
                                           data-toggle="tooltip" title="Consuler">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="btn btn-secondary" href="{{ path('da_produit_edit', { 'id': produit.idProd }) }}"
                                           data-toggle="tooltip" title="Editer"><i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a class="btn btn-secondary" href="{{ path('da_produit_delete', { 'id': produit.idProd }) }}"
                                           data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i>
                                        </a>
                                        {% if produit.stock < 5 %}
                                            <a class="btn btn-secondary" href="{{ path('da_produit_reaprovisionner', { 'id': produit.idProd }) }}"> Réaprov. </a>
                                        {% endif %}
                                    </div>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="categories" aria-expanded="false">
                        <table id="categoriesTab" class="table table-striped table-bordered" style="width: 100% !important;">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libellé</th>
                                <th>Nombre de produit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for categorie in categories %}
                                <tr>
                                    <td>{{ categorie.id }}</td>
                                    <td>{{ categorie.libelle }}</td>
                                    <td>{{ categorie.produits | length }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
