



    {% for rec in reclamations %}

                 Sujet :   {{ rec.sujet  }}  <a href="single.html">Added : {{ rec.dateRec |date }}  </a>

                <h4>Description :{{ rec.description  }}   </h4>

                <p>{{ rec.numTel }}</p>
                <br>
                <br>






{% endfor %}


