

{% extends '@Forum/Default/layout2.html.twig' %}


{% block affichage %}



<div class="sign">
    <h3>Create a forum Here..</h3>
    <form method="post">
        <div>
            <label>Description : </label>
            <textarea class="form-control" name="description" placeholder="description here..." required="" minlength="10" maxlength="255"></textarea>

        </div>
        <br><br><br>
     <center> <button type="submit" class="btn btn-danger submit">Ajouter un forum</button></center>
    </form>
</div>
</div>
<!---->
<div class="map-top">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12947831.742778081!2d-95.665!3d37.599999999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1422444552833" ></iframe>
    </div>
    <div class="address">
        <h5>Address</h5>
        <p>Lipsum street, Georgia
            Newyork</p>
        <a href="mailto:info@mycompany.com" class="company">info@mycompany.com</a>
    </div>
</div>
<!--footer-->
<div class="footer">
    <div class="container">
        <p class="footer-grid">Copyright &copy; 2015 vegetables Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>





{% endblock %}


