
{% extends '@Forum/Default/layout2.html.twig' %}

{% block affichage %}





    <div class="top-content">
        {% block flash %}
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

        {% endblock %}
        <div class="content-top">
    {% for forum in forums %}
            <div class="col-md-3 look">
                <h4>
                    <a href="single.html">
                        {% if app.user.id|number_format != forum.idUser.id|number_format %}
                            <p> By {{ forum.idUser }}</p>

                        {% elseif user.id|number_format == forum.idUser.id|number_format %}
                            <p>Published by : Me</p>
                        {% endif %}
                    </a>
                </h4>
                <a href="single.html"><img class="img-responsive" src="images/pi7.jpg" alt=" " ></a>
                <p>Added :{{ forum.date | date("m/d/Y")  }}  </p>
                <p>{{ forum.descriptionF  }}</p>
                <p>number comments : {{ forum.countComments }}</p>

                <a href="{{ path('detailsF', { 'id': forum.idF }) }}" class="btn btn-primary">Détails</a>

                {% if app.user.id|number_format != forum.idUser.id|number_format %}
                    <a href="{{ path('reclamerF', { 'id': forum.idF }) }}" class="btn btn-danger">Reclamer</a>

                {% elseif app.user|number_format == forum.idUser.id|number_format %}
                    <a href="{{ path('modifierF', { 'id': forum.idF }) }}" class="btn btn-success">modifier</a>
                    <a href="{{ path('supprimerF', { 'id': forum.idF }) }}" class="btn btn-danger">supprimer</a>
                {% endif %}
            </div>
    {%  endfor %}
            <div class="clearfix"> </div>
        </div>
    </div>










{% endblock %}


