<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Arable Agriculture Category Bootstrap responsive Web Template | Single :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Arable a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{{   asset('Bundles/AppBundle/css/bootstrap.css') }} " rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{   asset('Bundles/AppBundle/css/component.css')}} " type="text/css" media="all">
    <link href="{{   asset('Bundles/AppBundle/css/style.css')}}" rel='stylesheet' type='text/css' />
    <link href="{{   asset('Bundles/AppBundle/css/single.css')}}" rel='stylesheet' type='text/css' />
    <link href="{{   asset('Bundles/AppBundle/css/fontawesome-all.css')}}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=BenchNine:300,400,700" rel="stylesheet">
</head>


<body>
<div class="mian-content">
    <div class="header-top-w3layouts-agile">
        <div class="top-head-wthree text-left">
            <div class="row top-content-info">
                <div class="col-lg-6 top-content-left">
                    <ul class="header-info-w3ls">
                        <li>
                            <i class="far fa-envelope"></i> <a href="mailto:info@example.com">mail@example.com</a>
                        </li>
                        <li>
                            <i class="fas fa-phone"></i> <a href="tel:+02223688199">+0222 3688 199</a>
                        </li>
                        <li>
                            <i class="far fa-clock"></i> Mon – Fri : 9:00 -17:00 </li>
                    </ul>
                </div>
                <div class="col-lg-6 top-content-right">
                    <div class="land-gd">
                        <div class="hd-sc-one">
                            <div class="land-image text-center">
                                <i class="fas fa-map-signs"></i>
                            </div>
                            <div class="land-content">
                                <h4>The Best Landscaping</h4>

                            </div>

                        </div>
                    </div>
                    <div class="land-gd">
                        <div class="hd-sc-one">
                            <div class="land-image text-center">
                                <i class="fas fa-shield-alt"></i>
                            </div>
                            <div class="land-content">
                                <h4>Certified Company</h4>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 top-social-icons text-center">
                    <ul class="social-icons">
                        <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6 logo text-center">
                    <h1>
                        <a class="navbar-brand" href="index.html">
                            <i class="fas fa-leaf"></i>Arable</a>
                    </h1>
                </div>
                <div class="col-md-3 login-right-img text-center">
                    <a class="request text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter"></a>
                    <a class="request text-uppercase" href="#" data-toggle="modal" data-target="#exampleModalCenter2"></a>
                </div>
            </div>
        </div>
        <div class="header-bg">
            <div class="container">
                <header>
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-lg-auto text-left">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Forums
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% block drop %}
                                        <a class="dropdown-item" href="{{ path('forum_homepage')}}" class="btn btn-primary">All forum</a>
                                        <a class="dropdown-item" href="{{ path('add_form')}}">Add Forum</a>
                                        <a class="dropdown-item" href="#" title="">Mes forums</a>
                                        <a class="dropdown-item" href="single.html" title="">Forum que je participe</a>
                                        {% endblock %}
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="gallery.html">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog.html">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>

                            </ul>
                            <form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
                                <input class="form-control" type="search" placeholder="Search here..." name="Search" required="">
                                <button class="btn btn1 my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                            </form>



                        </div>
                    </nav>
                </header>
            </div>
        </div>
    </div>
</div>
<!-- end of main image slider container -->
<div class="inner-page">
</div>
<!-- /breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active"> {% block title %} all Forums {% endblock %}</li>
</ol>
<!-- //breadcrumb -->
<section class="banner-bottom-w3layouts py-lg-5 py-md-5 py-3">
    <div class="container">
        <div class="inner-sec-w3ls-agileits py-lg-5 py-3">
            {% block flash %} {% endblock %}
            <h4 class="sub-tittle text-uppercase text-center">Recent Talks</h4>
            <h3 class="tittle text-center mb-md-5 mb-4">Forums </h3>
            <div class="row">
                <!--left-->
                {% block affichage %}
                <div class="col-lg-8 left-blog-info text-left">
                    <div class="blog-grid-top">
                        <div class="b-grid-top">
                            <div class="blog_info_left_grid">
                                <a href="single.html">
                                    <img src="{{   asset('Bundles/AppBundle/images/1.jpg')}}" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>

                        <h3>
                            <a href="single.html">Amet consectetur adipisicing </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco labor nisi ut aliquip exea commodo consequat duis aute irudre dolor in elit sed uta labore dolore reprehender</p>

                    </div>

                    <div class="comment-top">
                        <h4>Comments</h4>
                        <div class="media">
                            <img src="{{   asset('Bundles/AppBundle/images/t1.jpg')}}" alt="" class="img-fluid rounded" />
                            <div class="media-body">
                                <h5 class="mt-0">Joseph Goh</h5>
                                <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros. Cras a ornare elit.</p>


                            </div>
                        </div>
                    </div>

                    <div class="comment-top">
                        <h4>Leave a Comment</h4>
                        <div class="comment-bottom">
                            <form action="#" method="post">
                                <input class="form-control" type="text" name="Name" placeholder="Name" required="">
                                <input class="form-control" type="email" name="Email" placeholder="Email" required="">

                                <input class="form-control" type="text" name="Subject" placeholder="Subject" required="">

                                <textarea class="form-control" name="Message" placeholder="Message..." required=""></textarea>
                                <button type="submit" class="btn btn-primary submit">Submit</button>
                            </form>
                        </div>
                    </div>

                </div>
                {% endblock %}

                <!--//left-->
                <!--right-->
                <aside class="col-lg-4 right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm">
                            <img src="images/g4.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div class="tech-btm">
                            <h4>Sign up to our newsletter</h4>
                            <p>Pellentesque dui, non felis. Maecenas male </p>
                            <form action="#" method="post">
                                <input class="form-control" type="email" placeholder="Email" required="">
                                <input class="form-control" type="submit" value="Subscribe">
                            </form>

                        </div>
                        <div class="tech-btm">
                            <h4>Categories</h4>
                            <ul class="list-group single">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Cras justo odio
                                    <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Dapibus ac facilisis in
                                    <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Morbi leo risus
                                    <span class="badge badge-primary badge-pill">1</span>
                                </li>
                            </ul>
                        </div>
                        <div class="tech-btm">
                            <h4>Top stories of the week</h4>

                            <div class="blog-grids row mb-3">
                                <div class="col-md-5 blog-grid-left">
                                    <a href="single.html">
                                        <img src="images/g3.jpg" class="img-fluid rounded" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7 blog-grid-right">

                                    <h5>
                                        <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                                    </h5>
                                    <div class="sub-meta">
                                            <span>
											<i class="far fa-clock"></i> 20 Jan, 2018</span>
                                    </div>
                                </div>

                            </div>
                            <div class="blog-grids row mb-3">
                                <div class="col-md-5 blog-grid-left">
                                    <a href="single.html">
                                        <img src="images/g6.jpg" class="img-fluid rounded" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7 blog-grid-right">
                                    <h5>
                                        <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                                    </h5>
                                    <div class="sub-meta">
                                            <span>
											<i class="far fa-clock"></i> 20 Feb, 2018</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="single-gd tech-btm">
                            <h4>Recent Post</h4>
                            <div class="blog-grids">
                                <div class="blog-grid-left">
                                    <a href="single.html">
                                        <img src="images/g2.jpg" class="img-fluid rounded" alt="">
                                    </a>
                                </div>
                                <div class="blog-grid-right">

                                    <h5>
                                        <a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
                                    </h5>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>

                </aside>
                <!--//right-->
            </div>

        </div>
    </div>
</section>

<!--/single-->
{% block footer %}
<!--footer -->
<footer class="footer-emp-wthree bg-dark dotts py-lg-5 py-3">
    <div class="container">
        <div class="row footer-top">
            <div class="col-lg-4 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>About Us</h3>
                </div>
                <div class="footer-text">
                    <p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus. Nulla porttitor accumsana tincidunt.</p>
                    <ul class="social-icons">
                        <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                        <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>Get in touch</h3>
                </div>
                <div class="contact-info">
                    <h4>Location :</h4>
                    <p>0926k 4th block building, king Avenue, New York City.</p>
                    <div class="phone">
                        <h4>Contact :</h4>
                        <p>Phone : +121 098 8907 9987</p>
                        <p>Email :
                            <a href="mailto:info@example.com">info@example.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>Quick Links</h3>
                </div>
                <ul class="links">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="pricing.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>
                <ul class="links">
                    <li>
                        <a href="services.html">Features</a>
                    </li>
                    <li>
                        <a href="contact.html">Support</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copyright-w3 mt-4">
            <p class="copy-right text-center ">&copy; 2018 Arable. All Rights Reserved | Design by
                <a href="http://w3layouts.com/"> W3layouts </a>
            </p>
        </div>
    </div>
</footer>
<!-- //footer -->

<!--model-forms-->
<!--/Login-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="login px-4 mx-auto mw-100">
                    <h5 class="text-center mb-4">Login Now</h5>
                    <form action="#" method="post">
                        <div class="form-group">
                            <label class="mb-2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label class="mb-2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4"> </button>
                        <p class="text-center pb-4">
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a>
                        </p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!--//Login-->
<!--/Register-->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login px-4 mx-auto mw-100">
                    <h5 class="text-center mb-4">Register Now</h5>
                    <form action="#" method="post">
                        <div class="form-group">
                            <label>First name</label>

                            <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                        </div>

                        <div class="form-group">
                            <label class="mb-2">Password</label>
                            <input type="password" class="form-control" id="password1" placeholder="" required="">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" id="password2" placeholder="" required="">
                        </div>

                        <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                        <p class="text-center pb-4">
                            <a href="#">By clicking Register, I agree to your terms</a>
                        </p>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<!--//Register-->

<!--//model-form-->
<!-- js -->
<script src="{{   asset('Bundles/AppBundle/js/jquery-2.2.3.min.js')}}"></script>
<script src="{{   asset('Bundles/AppBundle/js/modernizr.custom.js')}}"></script>
<script>
    $(document).ready(function() {
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //dropdown nav -->
<!-- password-script -->
<script>
    window.onload = function() {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
            document.getElementById("password2").setCustomValidity("Passwords Don't Match");
        else
            document.getElementById("password2").setCustomValidity('');
        //empty string means no validation error
    }
</script>
<!-- //password-script -->
<!--/ start-smoth-scrolling -->
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<script>
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event) {
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 900);
        });
    });
</script>
<script>
    $(document).ready(function() {
        /*
                                var defaults = {
                                      containerID: 'toTop', // fading element id
                                    containerHoverID: 'toTopHover', // fading element hover id
                                    scrollSpeed: 1200,
                                    easingType: 'linear'
                                 };
                                */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!--// end-smoth-scrolling -->
<!-- /js -->
<script src="{{   asset('Bundles/AppBundle/js/bootstrap.js')}}"></script>
<!-- //js -->
</body>
{% endblock %}
</html>