{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Dashboard Admin Forum
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        #group-img {
            width: 55px !important;
            padding: 0;
        }
        #group-img img {
            width: 55px !important;
        }
        tr td{
            padding: 2px 3px !important;
        }
        #publcationsTab .archived td{
            background-color: rgba(255,165,0,0.37) !important;
        }
        #publcationsTab{
            table-layout: fixed;
        }
        #descriptionCell{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var tableC = $('#categoriesTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var tableP = $('#ReclamationTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>


{% endblock %}

{% block body %}

    {#Profiles liste et buttons#}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right">
                    <br>
                    <a href="{{ path('reclamation_new') }}" class="btn btn-success">
                        <i class="icon-plus">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;Envoyer mail
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="clearfix">
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-borderless">
                <ul class="nav nav-tabs nav-tabs-simple hidden-sm-down" role="tablist"
                    data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                        <a class="active" data-toggle="tab" role="tab" data-target="#pepinieres" href="#"
                           aria-expanded="true">Reclamation</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="tab" role="tab" data-target="#categories" class=""
                           aria-expanded="false"></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="pepinieres" aria-expanded="true">
                        <table id="pepinieresTab" class="table table-bordered table-striped " style="width: 100% !important;">
                            <thead>
                            <tr>
                                <th>Sujet</th>
                                <th>Description</th>
                                <th>Etat</th>
                                <th>Date de reclamation</th>
                                <th>Numero de tel</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reclamation in reclamations %}


                                    <td>{{ reclamation.sujet }}</td>
                                    <td>{{ reclamation.description }}</td>
                                    <td>{{ reclamation.etat }}</td>
                                    <td>{{ reclamation.dateRec | date ("d/m/Y")}}</td>
                                    <td>{{ reclamation.numTel }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm btn-group-horizontal">
                                        <a class="btn btn-secondary" href="{{ path('reclamation_show', { 'id': reclamation.idRec }) }}"
                                           data-toggle="tooltip" title="Consuler">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a class="btn btn-secondary" href="{{ path('reclamation_delete', { 'id': reclamation.idRec }) }}"
                                           data-toggle="tooltip" title="Supprimer"><i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
