{% extends 'base.html.twig' %}
{% block body %}
    <div class="banner-in">
        <div class="container">
            <h6>HOME / <span>Reclamations</span></h6>
        </div>
    </div>
    <div class="container">
    <div class="contact">
        <h3>Reclamation Form</h3>
        {{ form_start(form) }}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_widget(form) }}

        <div>
            <img src="" id="image" style="display: none" width="100px"height="100px">
        </div>
        <button type="submit" class="btn btn-success" value="Create">
            <i class="fa fa-check" aria-hidden="true"></i> Confirmer
        </button>
    </div>
</div>

        {{ form_end(form) }}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> OK
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Votre reclamation a été envoyer avec succées.

                </div>
                <div class="modal-footer">

                    <a class="btn btn-danger btn_lg" href="{{ path('reclamation_new') }}"
                       data-toggle="tooltip" title="OK"> OK
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
