{% extends './Default/dashboard.html.twig' %}

{% block title %}
    Dashboard Admin Forum
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    <style>
        #group-img {
            width: 55px !important;
            padding: 0;
        }
        #group-img img {
            width: 55px !important;
        }
        tr td{
            padding: 2px 3px !important;
        }
        #publcationsTab .archived td{
            background-color: rgba(255,165,0,0.37) !important;
        }
        #publcationsTab{
            table-layout: fixed;
        }
        #descriptionCell{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var tableC = $('#categoriesTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
            var tableP = $('#pepinieresTab').DataTable({
                "paging": true,
                "stateSave": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/French.json",
                }
            });
        });
    </script>


{% endblock %}

{% block body %}
<div class="container">
    <div class="row" style="border:1px solid silver">
        <div id="productInfo" class="col-md-7" style="background: #f8f9f8; border-left:1px solid silver; padding: 25px">
            <h3 class="title">{{ reclamation.etat }}</h3>

            <h6 class="title-price">Date du reclamation :</h6>
            <h3 style="margin-top:0px;">{{ reclamation.dateRec|date("d/m/Y") }}</h3>

            <h6 class="title-price">Sujet :</h6>
            <h3 style="margin-top:0px;">{{ reclamation.sujet }}</h3>
            <h6 class="title-price">Numero de telephone :</h6>
            <h3 style="margin-top:0px;">{{ reclamation.numTel }}</h3>
            <h6 class="title-price">Description :</h6>
            <h3 style="margin-top:0px;">{{ reclamation.description }}</h3>



        </div>

    </div>
    <button type="button" class="btn btn-danger btn_lg" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-times" aria-hidden="true"></i> Envoyer mail
    </button>
    {% endblock %}
