{% extends 'base.html.twig' %}
{% block stylesheets %}
    {#<link href="{{ asset ('Bundles/AppBundle/css/product.css')}}" rel="stylesheet" type="text/css" media="all" />#}
    {#<link href="{{ asset ('Bundles/AppBundle/js/product.js')}}" rel="stylesheet" type="text/css" media="all" />#}
    {#<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>#}
    {#<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>#}
    {#<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
    {#<link href="{{ asset ('assets2/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>#}
    {#<script src="{{ asset ('assets2/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>#}

    <style>
        ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
        li.active{border-bottom:3px solid silver;}

        .item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
        .menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0;margin-top:20px}
        .btn-success{width:100%;border-radius:0;}
        .section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
        .title-price{margin-top:30px;margin-bottom:0;color:black}
        .title-attr{margin-top:0;margin-bottom:0;color:black;}
        .btn-minus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-right:0;}
        .btn-plus{cursor:pointer;font-size:7px;display:flex;align-items:center;padding:5px;padding-left:10px;padding-right:10px;border:1px solid gray;border-radius:2px;border-left:0;}
        div.section > div {width:100%;display:inline-flex;}
        div.section > div > input {margin:0;padding-left:5px;font-size:10px;padding-right:5px;max-width:18%;text-align:center;}
        .attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
        .attr.active,.attr2.active{ border:1px solid orange;}

        @media (max-width: 426px) {
            .container {margin-top:0px !important;}
            .container > .row{padding:0 !important;}
            .container > .row > .col-xs-12.col-sm-5{
                padding-right:0 ;
            }
            .container > .row > .col-xs-12.col-sm-9 > div > p{
                padding-left:0 !important;
                padding-right:0 !important;
            }
            .container > .row > .col-xs-12.col-sm-9 > div > ul{
                padding-left:10px !important;

            }
            .section{width:104%;}
            .menu-items{padding-left:0;}
        }
        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;
            flex-wrap: wrap;
        }
        .row > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset ('Bundles/AppBundle/js/jquery.min.js')}}"></script>
    <script src="{{ asset('assets2/js/jquery.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $(".addToPanier").click(function () {
                var qte = $(".qte").val();
                var idProd = $(this).val();
                $.ajax({
                    dataType: "json",
                    url: "{{ path("front_add_to_panier_old", {id: produit.idProd}) }}",
                    data: {
                        "qte": qte,
                        "idProd": idProd
                    },
                    error: function(response) {
                        $("#productInfo").html(response);
                    },
                    success: function(response){
                        // $("#nbrProduit").html(response.nbrProduit);
                        $("#productInfo").html(response);
                        // $("#selectQte").fadeOut();
                        // $("#selectQte").fadeIn();
                        // $("#selectQte").load();

                        // $("#selectQte").show();
                }});
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            //-- Click on detail
            $("ul.menu-items > li").on("click",function(){
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            });

            $(".attr,.attr2").on("click",function(){
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            });

            //-- Click on QUANTITY
            $(".btn-minus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1 > 0){ now--;}
                    $(".section > div > input").val(now);
                }else{
                    $(".section > div > input").val("1");
                }
            });
            $(".btn-plus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    $(".section > div > input").val(parseInt(now)+1);
                }else{
                    $(".section > div > input").val("1");
                }
            })
        })
    </script>

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row" style="border:1px solid silver">
            <div class="col-md-5 item-photo col-offset-md-2">
                {% if produit.image != '' %}
                    <img alt="User Pic" style="max-width:100%;" src="{{ asset('uploads/produit/photo/' ~ produit.image) }}"/>
                {% else %}
                    <img style="max-width:100%;" src="{{ asset('assets2/img/NA.png') }}">
                {% endif %}
            </div>
            <div id="productInfo" class="col-md-7" style="background: #f8f9f8; border-left:1px solid silver; padding: 25px">
                <h3 class="title">{{ produit.nom }}</h3>
                {#<h5 style="color:#337ab7">Vendu par : {{ produit.idPep }} · <small style="color:#337ab7">({{ produit.idPep.produits | length }} produits)</small></h5>#}
                <h6 class="title-price">Prix offert</h6>
                <h3 style="margin-top:0px;">{{ produit.prix }} TND</h3>
                <h6 class="title-price">Type</h6>
                <h3 style="margin-top:0px;">{{ produit.type }}</h3>
                {% if produit.stock > 0 %}
                    <h6 class="title-price">Disponibilité : </h6>
                    {% if produit.stock > 5 %}
                    <h5 style="color:#06b72a">{{ produit.disponibilite }} <small style="color:#06b72a">({{ produit.stock }} restant)</small></h5>
                    {% elseif produit.stock == 0 %}
                        <h5 style="color:red">ce produit n'est plus en stock<small style="color:red"></small></h5>
                    {% else %}
                        <h5 style="color:orange">Derniéres piéces <small style="color:orange">({{ produit.stock }} restant)</small></h5>
                    {% endif %}
                    {% if app.user %}
                        <div class="section" style="padding-bottom:20px;">
                            <h6 class="title-price">Quantité : </h6>
                            <select id="selectQte" class="qte">
                                {% for i in range(1, produit.stock ) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="section" style="padding-bottom:20px;">
                            {#<a href="{{ path('front_add_to_panier_old', {id: produit.idProd} ) }}" class="btn btn-success ">#}
                                <button value="{{ produit.idProd }}"  class="btn btn-success addToPanier" id="addToPanier">
                                    <span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter au panier
                                </button>
                            {#</a>#}
                            {#<h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Ajouter au wishlist</a></h6>#}
                        </div>
                    {% else %}
                    <div class="section" style="padding-top:20px;"><br>
                        <h3>Veuillez se connecter pour pouvoir commander ce produit</h3>
                    </div>
                    {% endif %}
                {% else %}
                    <br>
                    STOCK EPUISEE
                {% endif %}
            </div>
        </div>
        <div class="row" style="border:1px solid silver">
            <div class="col-xs-9">
                <ul class="menu-items">
                    <li class="active">
                        <h6 class="title-price">Disponibilité</h6>
                    </li>
                </ul>
                <div style="width:100%;border-top:1px solid silver">
                    <p style="padding:15px;">
                        <small>
                            {{ produit.descriptionProd }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}