{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset ('Bundles/AppBundle/css/product.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset ('Bundles/AppBundle/js/product.js')}}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $(".keyWord").keyup(function () {
                var keyWord = $(this).val();
                $.ajax({
                    dataType: "json",
                    url : '{{ path('front_produit_recherche') }}',
                    data: {
                        "keyWord": keyWord
                    },
                    error:function(response) {
                        alert("err");
                        $("#productList").html(response);
                    },
                    success:function(response) {
                        $("#productList").html(response);
                    },
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="banner-in">
        <div class="container">
            <h6>HOME / <span>PRODUCTS</span></h6>
        </div>
    </div>
    <div class="container">
        <div class="product">
            <form action="#" method="post" class="form">
                <div class="pull-left txt"><input id="keyWord" type="text" class="keyWord form-control" placeholder="Recherche produit"></div>
                {#<div class="pull-right"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></div>#}
            </form>
            <br>
            <br>
            <div id="portfoliolist">
                <div id="productList" class="row">
                    {% for produit in produits %}
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <article class="card-wrapper">
                                <div class="image-holder">
                                    <a href="{{ path('front_produit_show',  { 'id': produit.idProd }) }}" class="image-holder__link"></a>
                                    {% if produit.image != '' %}
                                        <div class="image-liquid image-holder--original"
                                             style="background-image: url('{{ asset('uploads/produit/photo/' ~ produit.image) }}')">
                                        </div>
                                    {% else %}
                                        <div class="image-liquid image-holder--original"
                                             style="background-image: url('{{ asset('assets2/img/NA.png') }}')">
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="product-description">
                                    <!-- title -->
                                    <h1 class="product-description__title">
                                        <a href="{{ path('front_produit_show',  { 'id': produit.idProd }) }}">
                                            {{ produit.nom }}
                                        </a>
                                    </h1>

                                    <!-- category and price -->
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-8 product-description__category secondary-text">
                                            {{ produit.descriptionProd }}
                                        </div>
                                        <div class="col-xs-12 col-sm-4 product-description__price">
                                            {{ produit.prix }} TND
                                        </div>
                                    </div>

                                    <!-- divider -->
                                    <hr />

                                    <!-- sizes -->
                                    <div class="sizes-wrapper">
                                        <b>Catégorie :</b>{{ produit.categorie }}<br>
                                        <b>Type :</b>{{ produit.type }}
                                    </div>
                                </div>

                            </article>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="navigation text-center">
                        {{ knp_pagination_render(produits) }}
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- Script for gallery Here -->

            <!-- Gallery Script Ends -->

        </div>
    </div>
{% endblock %}