{% for produit in produits %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <article class="card-wrapper">
            <div class="image-holder">
                <a href="{{ path('front_produit_show',  { 'id': produit.idProd }) }}" class="image-holder__link"></a>
                {% if produit.image != '' %}
                    <div class="image-liquid image-holder--original"
                         style="background-image: url('{{ asset('uploads/produit/photo/' ~ produit.image) }}')">
                    </div>
                {% else %}
                    <div class="image-liquid image-holder--original"
                         style="background-image: url('{{ asset('assets2/img/NA.png') }}')">
                    </div>
                {% endif %}
            </div>

            <div class="product-description">
                <!-- title -->
                <h1 class="product-description__title">
                    <a href="{{ path('front_produit_show',  { 'id': produit.idProd }) }}">
                        {{ produit.nom }}
                    </a>
                </h1>

                <!-- category and price -->
                <div class="row">
                    <div class="col-xs-12 col-sm-8 product-description__category secondary-text">
                        {{ produit.descriptionProd }}
                    </div>
                    <div class="col-xs-12 col-sm-4 product-description__price">
                        {{ produit.prix }} TND
                    </div>
                </div>
                <!-- divider -->
                <hr />
                <!-- sizes -->
                <div class="sizes-wrapper">
                    <b>Catégorie :</b>{{ produit.categorie }}<br>
                    <b>Type :</b>{{ produit.type }}
                </div>
            </div>

        </article>
    </div>
{% endfor %}