{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <form action="{{ path('panier_confirmer') }}" method="post" id="payement-form">
              <div class="form-row">
                  <label for="card-element">
                      Credit or debit card
                  </label>
              </div>
              <div id="card-element">

              </div>
              <div id="card-errors" role="alert"></div>
              <button>Submit payment</button>
          </form>
      </div>
  </div>
      <script src="https://js.stripe.com/v3/"></script>

{% endblock %}

{% block javascripts %}
<script>
    var stripe = Stripe('pk_test_cygF3wMNznPSVY3R7kp1I5Yr00HZQprSxg');
    var elements = stripe.elements();

    var style = {
        base: {
            fontSize  : '16px',
            lineHeight: '24px'
        }
    };

    var card = elements.create('card', {style: style});
    card.mount('#card-element');

    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (ev) {
        ev.preventDefault();
        stripe.createToken(card).then(function (result) {
            if (result.error) {
                var errorElement = document.getElementById('card-error');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        form.submit();
    }

</script>
{% endblock %}
