{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset ('Bundles/AppBundle/js/jquery.min.js')}}"></script>
    <script src="{{ asset('assets2/js/jquery.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $(".deleteFromPanier").click(function () {
                var id = $(this).val();
                $.ajax({
                    dataType: "json",
                    url: "{{ path("retirer_ligne_ajax") }}",
                    data: {
                        "id": id
                    },
                    error: function(response) {
                        $("#listePanier").html(response);
                    },
                    success: function(response){
                        $("#listePanier").html(response);
                    }});
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $.ajax({
                dataType: "json",
                url: "{{ path("front_panier_nbProduit") }}",
                error: function(response){
                    $("#nbrProduit").html(response.nbrProduit);
                },
                success: function(response){
                    $("#nbrProduit").html(response.nbrProduit);
                }});
        });
    </script>
{% endblock %}
{% block body %}
<div class="container" id="listePanier">
    <div class="row">
        <br>
            <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th class="text-center">Prix</th>
                    <th class="text-center">Total</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                {% for ligne in panier.lignedepaniers %}
                    <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                    {% if ligne.produit.image != '' %}
                                        <a class="thumbnail pull-left" href="#">
                                            <img  style="width: 72px; height: 72px;" class="media-object"
                                                  src="{{ asset('uploads/produit/photo/' ~ ligne.produit.image) }}">
                                        </a>
                                    {% else %}
                                        <a class="thumbnail pull-left" href="#">
                                            <img  style="width: 72px; height: 72px;" class="media-object" src="{{ asset('assets2/img/NA.png') }}">
                                        </a>
                                    {% endif %}
                                    {#<img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>#}
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ ligne.produit.nom }}</a></h4>
                                    <h5 class="media-heading"> Par <a href="#">{{ ligne.produit.idPep }}</a></h5>
                                    {#<span>Status: </span><span class="text-success"><strong>{{ ligne.produit.disponibilite }}</strong></span>#}
                                </div>
                            </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            {{ ligne.quantite }}
                        </td>
                        <td class="col-sm-2 col-md-2 text-center"><strong>{{ ligne.produit.prix }} TND</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ ligne.produit.prix|number_format * ligne.quantite|number_format }} TND</strong></td>
                        <td class="col-sm-1 col-md-1">
                            {#<a href="{{ path('retirer_ligne', {id: ligne.id}) }}" type="button" class="btn btn-danger">#}
                            <button type="button" class="btn btn-danger deleteFromPanier"  value="{{ ligne.id}}" >
                                <span class="glyphicon glyphicon-remove"></span> Retirer
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3><strong>{{ panier.total }} TND</strong></h3></td>
                </tr>
                <tr>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Revenir au Shopping
                        </button></td>
                    <td>
                        {#<a href="{{ path('panier_confirmer', {id: panier.id}) }}">#}
                        <a href="{{ path('paiement', {id: panier.id}) }}">
                            <button type="button" class="btn btn-success">
                                Confirmer <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}