{% block javascripts %}
    <script src="{{ asset ('Bundles/AppBundle/js/jquery.min.js')}}"></script>
    <script src="{{ asset('assets2/js/jquery.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $(".addToPanier").click(function () {
                var qte = $(".qte").val();
                var idProd = $(this).val();
                $.ajax({
                    dataType: "json",
                    url: "{{ path("front_add_to_panier_old", {id: produit.idProd}) }}",
                    data: {
                        "qte": qte,
                        "idProd": idProd
                    },
                    error: function(response) {
                        $("#productInfo").html(response);
                    },
                    success: function(response){
                        $("#productInfo").html(response);
                    }});
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $.ajax({
                dataType: "json",
                url: "{{ path("front_panier_nbProduit") }}",
                error: function(response){
                    $("#nbrProduit").html(response.nbrProduit);
                },
                success: function(response){
                    $("#nbrProduit").html(response.nbrProduit);
                }});
        });
    </script>
    <script>
        $(document).ready(function(){
            //-- Click on detail
            $("ul.menu-items > li").on("click",function(){
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            });

            $(".attr,.attr2").on("click",function(){
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            });

            //-- Click on QUANTITY
            $(".btn-minus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1 > 0){ now--;}
                    $(".section > div > input").val(now);
                }else{
                    $(".section > div > input").val("1");
                }
            });
            $(".btn-plus").on("click",function(){
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)){
                    $(".section > div > input").val(parseInt(now)+1);
                }else{
                    $(".section > div > input").val("1");
                }
            })
        })
    </script>

{% endblock %}
<h3 class="title">{{ produit.nom }}</h3>
<h5 style="color:#337ab7">Vendu par : {{ produit.idPep }} · <small style="color:#337ab7">({{ produit.idPep.produits | length }} produits)</small></h5>
<h6 class="title-price">Prix offert</h6>
<h3 style="margin-top:0px;">{{ produit.prix }} TND</h3>
<h6 class="title-price">Type</h6>
<h3 style="margin-top:0px;">{{ produit.type }}</h3>
{% if produit.stock > 0 %}
    <h6 class="title-price">Disponibilité : </h6>
    {% if produit.stock > 5 %}
        <h5 style="color:#06b72a">{{ produit.disponibilite }} <small style="color:#06b72a">({{ produit.stock }} restant)</small></h5>
    {% elseif produit.stock == 0 %}
        <h5 style="color:red">ce produit n'est plus en stock<small style="color:red"></small></h5>
    {% else %}
        <h5 style="color:orange">Derniéres piéces <small style="color:orange">({{ produit.stock }} restant)</small></h5>
    {% endif %}
    {% if app.user %}
        <div class="section" style="padding-bottom:20px;">
            <h6 class="title-price">Quantité : </h6>
            <select id="selectQte" class="qte">
                {% for i in range(1, produit.stock ) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="section" style="padding-bottom:20px;">
            {#<a href="{{ path('front_add_to_panier_old', {id: produit.idProd} ) }}" class="btn btn-success ">#}
            <button value="{{ produit.idProd }}"  class="btn btn-success addToPanier" id="addToPanier">
                <span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Ajouter au panier
            </button>
            {#</a>#}
            {#<h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Ajouter au wishlist</a></h6>#}
        </div>
    {% else %}
        <div class="section" style="padding-top:20px;"><br>
            <h3>Veuillez se connecter pour pouvoir commander ce produit</h3>
        </div>
    {% endif %}
{% else %}
    <br>
    STOCK EPUISEE
{% endif %}